// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  //height: 200px;
  position: relative;
  background-color: #ffffff;

  .row {
    height: inherit;

    .social-bar {
      @media (min-width: 768px){
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include flex-box(flex-start, center, initial, row, wrap, auto);
      }
      @media (max-width: 767px){
        padding-top: 1rem;
        padding-bottom: 1rem;
        ul {
          @include flex-box(center, center, initial, row, wrap, auto);
        }
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          display: inline-block;
          padding: 15px;

          a {
            span {
              border-radius: 50%;
              font-size: 30px;
              transition: .2s all ease-in-out;
              &:hover {
                transform: scale(1.3);
              }
            }
            &.linkedin {
              span {
                &:hover {
                  color: #0077B5;
                }
              }
            }
            &.facebook {
              span {
                &:hover {
                  color: #3b5998;
                }
              }
            }
            &.twitter {
              span {
                &:hover {
                  color: #1da1f2;
                }
              }
            }
          }
        }
      }
    }

    .copyright {
      @media (min-width: 768px){
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include flex-box(flex-end, center, initial, row, wrap, auto);
      }
      p {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
      }

      @media (max-width: 767px){
        padding-top: 1rem;
        padding-bottom: 1rem;
        p {
          text-align: center;
        }
      }

    }
  }

}