// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  height: 200px;
  position: relative;


  .row {
    height: inherit;

    .social-bar {
      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          display: inline-block;
          padding: 15px;

          a {
            span {
              border-radius: 50%;
              font-size: 30px;
            }
          }
        }
      }
    }

    .copyright {
      p {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
      }
    }
  }


}